$fontsLato: 'Lato', sans-serif;
$fontsMontserrat: 'Montserrat', sans-serif;

$text-color-white: #ffffff;
$text-color-nav-bar: #444444;
$text-color-blue-gray: #a6d6e0;
$text-color-dark-gray: #3f4043;
$text-color-header-menu__sub-title: #cbccce;
$bg-color-content-menu__title: #3f4043;
$bg-color-burger-menu: #202529;
$bg-color-nav-bar-hidden: #fafafa;
$bg-color-nav-bar-hover: #f3f3f3;
$bg-color-light-green: #acd8ad;
$color-dark-red: #721c24;
$box-shadow-nav-menu: 0.5px 0.866px 3px rgba(0, 0, 0, 0.35);
$border-gray: #f0f0f0;

